---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Breadcrumb from '../components/Breadcrumb.astro'

export interface Props {
  content: {
    title: string
    description: string
    createdAt?: string
    updatedAt?: string
    heroImage?: string
    tags: string[]
    readingTime: string
  }
}

const {
  content: { title, description, createdAt, updatedAt, heroImage, readingTime }
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content className="pt-6">
        <div class="mb-8">
          {
            heroImage && (
              <img
                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                width={720}
                height={360}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>

        <Breadcrumb>{title}</Breadcrumb>
        <h1 class="text-3xl my-1 font-mplus">{title}</h1>
        <div>{description}</div>
        {
          createdAt && (
            <time>
              {new Date(createdAt).toLocaleDateString('en-us', {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
              })}
            </time>
          )
        }
        {
          updatedAt && (
            <div>
              Last updated on{' '}
              <time>
                {new Date(updatedAt).toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                })}
              </time>
            </div>
          )
        }
        {readingTime && <strong>{readingTime}</strong>}
        <hr class="my-4 border-top border-zinc-400" />
        <slot />
        <span
          class="hidden ml-6 mt-4 mb-2 border-l-4 border-orange-400 px-4 italic bg-opacity-90 list-disc underline underline-offset-2 hover:text-orange-500 decoration-orange-500 text-2xl"
        >
        </span>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
